@model StatsViewModel
@{
    Layout = "_Layout";
}
<div class="pagetitle">
    <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li><a class="dropdown-item" asp-controller="Site" asp-action="Settings" asp-route-siteId="@Model.Site.Id" asp-fragment="sharing-tab"><i class="bi bi-share"></i> Udostępnij</a></li>
        </ul>
    </div>
    <h1>Statystyki @Model.Site.Domain</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Site" asp-action="Index">Strony</a></li>
            <li class="breadcrumb-item active">Statystyki @Model.Site.Domain</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

@await Html.PartialAsync("/Views/Shared/Components/StatsDashboard.cshtml", Model)