@model SiteSettingsFormModel
@{
    Layout = "_Layout";
}
<div class="pagetitle">
    <h1>Ustawienia @Model.General.Domain</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Site" asp-action="Index">Strony</a></li>
            <li class="breadcrumb-item active">Ustawienia @Model.General.Domain</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<div class="card col-12 col-lg-8">
    <div class="card-body">
        <h5 class="card-title">Ustawienia @Model.General.Domain</h5>
        
        <ul class="nav nav-tabs" id="settingsTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">Podstawowe</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="sharing-tab" data-bs-toggle="tab" data-bs-target="#sharing" type="button" role="tab" aria-controls="sharing" aria-selected="false">Udostępnianie</button>
            </li>
        </ul>
        <div class="tab-content pt-2" id="myTabContent">
                <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                    @await Html.PartialAsync("/Views/Shared/Settings/General.cshtml", Model.General)
                </div>
                <div class="tab-pane fade" id="sharing" role="tabpanel" aria-labelledby="sharing-tab">
                    @await Html.PartialAsync("/Views/Shared/Settings/Sharing.cshtml", Model.Sharing)
                </div>
        </div>
        
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const hash = window.location.hash;
            if (hash != undefined && hash != null && hash != "") {
                const bsTab = new bootstrap.Tab(hash);
                bsTab.show();
            }
        });
        
    </script>
}