@{
    Layout = "_Layout";
}
<div class="pagetitle">
    <h1>Pomoc</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a asp-controller="Home" asp-action="Help">Pomoc</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Jak uzyskać pomoc?</h5>
        
        <p>
            Możesz do nas napisać na adres help@statsbro.io lub jeśli wolisz porozmawiać z nami na czacie kliknij <a href="#">tutaj</a></br>
            Mówimy w Twoim języku i nie jesteśmy automatycznymi robotami :)
        </p>
    </div>
</div>